 @import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
 
 *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

html,body {
    background: rgb(121, 121, 121);
    margin: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
    min-height: 100vh;
	background: white;
	line-height: 1.8;
}

.htop, .hbottom, .ftop, .fbottom {
    background: rgb(202,1,1);
    width: 100%;
    height: 10px;
    margin: 0 auto;
}

.hmiddle {
    background: rgb(120,120,120);
    width: 100%;
    height: 50px;
    margin: 0 auto;
}

.button_container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    width: 25%;
    height: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav_button{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-family: 'Michroma', sans-serif;

}

.center, .content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pad{
    height: 50px;
}

hr{
    width: 90%;
    border-width: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content{
    margin-top: 30px;
    text-align: center;
    font: 1.6em tahoma, sans-serif;
    width: 65%;
    margin-bottom: 10px;
}

h1{
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font-size: 50px;
}

.nav_container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
    padding-top: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    display:flex;
    gap:20px;
    justify-content:space-evenly;
    
}

.selectable_image{
    height:300px;
    object-fit:contain;
    border-radius: 15px;
    cursor: pointer;
}

.selectable_image:hover{
    box-shadow: 0px 12px 24px rgba(0,0,0,0.3);
}

.desc_container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-right: 150px;
    padding-bottom: 100px;
    display: flex;
    gap:20px;

}

.description{
    font-family: 'Michroma', sans-serif;
    display: inline-block;
    color: black;
}

.description:hover{
    cursor: pointer;
    color: rgb(202,1,1);
    text-decoration: underline;
}

footer {
    background: rgb(120,120,120);
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}

.bb1{
    position: relative;
    right: -20px;
}

.bb2{
    position: relative;
    right: -150px;
}

.bb3{
    position: relative;
    right: -400px;
}

.values_container{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Michroma', sans-serif;
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    text-align: center;
}

.apply_link{
    display: inline-block;
    color: black;
}

.apply_link:hover{
    color: rgb(202,1,1);
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/20200210JR009_Medium_res.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    position: relative;
}   

.hero-content h1 {
    font-size: 3em;
    font-weight: 900;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-family: 'Michroma', sans-serif;
}

.cta-button {
    background-color: rgb(202,1,1);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
    font-family: 'Michroma', sans-serif;
}

.cta-button:hover{
    background-color: rgb(150, 4, 4);
}

.historycont{
    display: flex;
}

.history-hero-section{
    height: 714px;
    width: 40%;
    margin-left: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/pablo-becerril-umbrella-lab-post1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left;
    position: relative;
    padding-left: 40px;
}

h2{
    font-size: xx-large;
    font-family: 'Michroma', sans-serif;
}

.pagepromo{
    display: flex;
    width: 50%;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
    align-items: center;
    text-align: center;
    font-family: 'playfair display', serif;
}


.pagepromo p{
    width: 100%;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(202,1,1);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(202,1,1);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(179, 175, 175);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(179, 175, 175);
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(179, 175, 175);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(179, 175, 175) transparent transparent;
}

.right::after {
  left: -16px;
}

.tcontent {
  padding: 20px 30px;
  background-color: rgb(179, 175, 175);
  position: relative;
  border-radius: 6px;
}

.newscont,.joincont{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    background-color: rgb(202,1,1);
    color: white;
    border-radius: 15px;
    padding-left:  20px;
    padding-right:  20px;
    padding-bottom: 20px;
}

.hlink{
    color: white;
    text-decoration: none;
}

.hlink:hover{
    text-decoration: underline;
}

.quote, .quote p{
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.hero-section-directory {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/The_Umbrella_Corporation_Meeting.png);
    background-size: cover;
    background-position: top;
    color: white;
    text-align: center;
    position: relative;
}

.dheader{
    margin-bottom: 50px;
    margin-right: 1280px;
}

.dheader h1{
    font-family: "playfair display", serif;
    font-weight: normal;
}

.exec_container{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    gap: 80px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    
}

.exec_member{
    flex-basis: calc(100% / 5);
    padding: 10px;
}


.newspreviewcont{
    margin-left: 50px;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.newspreview{
    flex-basis: calc(100% / 3);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.articlecontainer{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.article{
    flex-basis: calc(100% / 4);
    padding: 10px;
}

.article a, .article p{
    text-decoration: none;
    color: red;
    display: inline-block;
}

.article a:hover{
    text-decoration: underline;
}

.article-hero{
    height: 60vh;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top;
    color: white;
    text-align: center;
    position: relative;
}

.article-RPD{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/RPD.png);
}

.article-arklay{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/Spencer_Manor.png);
}

.article-ashford{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/EdwardAsh.png);
}

.article-hospital{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/hospital.png);
}

.article-sickness{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/tory-miles-tory-miles-billboard-fam-v01.jpg);
}

.article-stars{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/stars_office.png);
}

.article-RCIncident{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../Images/Raccoon_City.png);
}

.article-header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.article-header h1, .article-header p{
    font-family: 'Times New Roman', Times, serif;
}

.article-header p{
    font-size: 1.2em;
}

.article-content{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.article-content h2{
    font-family: 'Times New Roman', Times, serif;
}

.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}

.careersheader{
    display: flex;
    font-family: Arial, Helvetica, sans-serif, serif;
    background-color: rgb(202,1,1);
    width: 80%;
    margin-right: auto;
    color: white;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 400px;
    margin-bottom: 50px;
}

.careersheader h1{
    font-family:'Times New Roman', Times, serif
}

.careersheader p{
    margin-left: 210px;
    font-size: large;
}

.jobcont{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
}

.jobcont h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-bottom: 50px;
    text-decoration: underline;
}

.jobcont p{
    text-align: center;
    font-size: x-large;
    margin-top: 300px;
    color: grey;
}

